@font-face {
    font-family: 'Benne';
    src: url(font/Benne-Regular.ttf);
}

/* Página inicial da Shine */
body {
    position: relative;
    width: 1440px;
    height: 5595px;
    background: #F8FBFF;
}

.all {
    display: flex;

}

.retangle {
    position: absolute;
    width: 1391px;
    height: 226px;
    left: 25px;
    top: 104px;
    background: #19365D;
    text-align: center;
}

.logo {
    box-sizing: border-box;
    position: absolute;
    width: 382px;
    height: 382px;
    left: 529px;
    top: 19px;
    background: url(Shine.png);
    border-radius: 191px;
}

a {
    text-decoration: none;
    color: #000;
}

.lancamento {
    font-family: 'benne';
    font-size: 32.12px;
    position: absolute;
    width: 195px;
    height: 38px;
    left: 82px;
    top: 364px;
}

.joias {
    font-family: 'benne';
    font-size: 32.12px;
    position: absolute;
    width: 89px;
    height: 38px;
    left: 322px;
    top: 364px;
}

.sale {
    font-family: 'benne';
    font-size: 32.12px;
    position: absolute;
    width: 75px;
    height: 31px;
    left: 456px;
    top: 364px;
}

.desejos {
    font-family: 'benne';
    font-size: 32.12px;
    position: absolute;
    width: 155px;
    height: 31px;
    left: 898px;
    top: 364px;
}

.contato {
    font-family: 'benne';
    font-size: 32.12px;
    position: absolute;
    width: 155px;
    height: 31px;
    left: 1070px;
    top: 364px;
}

.login {
    font-family: 'benne';
    font-size: 32.12px;
    position: absolute;
    width: 155px;
    height: 31px;
    left: 1253px;
    top: 364px;
}

.img-lancamento {
    position: absolute;
    width: 496px;
    height: 620px;
    left: 91px;
    top: 508px;
    background: url(colar_em_quartzo_rosa_1523_5_e17a3b595c38d3279313b37d75b004b5.png);
    border-radius: 36px;
}

.quadrado {
    position: absolute;
    width: 390.22px;
    height: 383.57px;
    left: 40.92px;
    top: 790.9px;
    background: #586F8C;
    transform: rotate(-85.28deg);
}

.titulo-lancamento {
    position: absolute;
    width: 701px;
    height: 100px;
    left: 666px;
    top: 520px;
    font-family: 'benne';
    font-style: normal;
    font-weight: 400;
    font-size: 100.256px;
    line-height: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #19365D;
}

.texto-lancamento {
    position: absolute;
    width: 660px;
    height: 376px;
    left: 689px;
    top: 660px;
    font-family: 'Benne';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.retangulo {
    position: absolute;
    width: 701px;
    height: 363px;
    left: 666px;
    top: 700px;
    background: rgba(88, 111, 140, 0.69);
    border-radius: 20px;
}

.botao-confira {
    position: absolute;
    width: 323px;
    height: 99px;
    left: 855px;
    top: 1075px;
    border-radius: 25px;
    font-family: 'benne';
}

.detalhes {
    position: absolute;
    width: 756px;
    height: 75px;
    left: 342px;
    top: 1282px;
    font-family: 'Benne';
    font-style: normal;
    font-weight: 400;
    font-size: 50.467px;
    line-height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #19365D;
}

.line {
    position: absolute;
    width: 1258px;
    height: 6px;
    left: 91px;
    top: 1400px;
    background: #586F8C;
}

.banner-mascFem {
    position: absolute;
    width: 1261px;
    height: 363px;
    left: 88px;
    top: 1460px;
}

.img-mulher {
    position: absolute;
    left: 49.88%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: url(layering-gold-jewelry-284244-1575919067109-main.jpg);
    height: 363px;
    width: 632px;
    left: 629px;
    top: 0px;
    border-radius: 0px;
}

.botao-fem {
    position: absolute;
    width: 622px;
    height: 97px;
    left: 88px;
    top: 1823px;
}

.botao-masc {
    position: absolute;
    width: 622px;
    height: 97px;
    left: 727px;
    top: 1823px;
}