@font-face {
    font-family: 'Benne';
    src: url(font/Benne-Regular.ttf);
}

body {
    position: relative;
    width: 1440px;
    height: 5595px;
    background: #F8FBFF;
}

.all {
    display: flex;

}

.retangle {
    position: absolute;
    width: 1391px;
    height: 226px;
    left: 25px;
    top: 104px;
    background: #19365D;
    text-align: center;
}

.logo {
    box-sizing: border-box;
    position: absolute;
    width: 382px;
    height: 382px;
    left: 529px;
    top: 19px;
    background: url(Shine.png);
    border-radius: 191px;
}

a {
    text-decoration: none;
    color: #000;
}

.lancamento {
    font-family: 'benne';
    font-size: 32.12px;
    position: absolute;
    width: 195px;
    height: 38px;
    left: 82px;
    top: 364px;
}

.joias {
    font-family: 'benne';
    font-size: 32.12px;
    position: absolute;
    width: 89px;
    height: 38px;
    left: 322px;
    top: 364px;
}

.sale {
    font-family: 'benne';
    font-size: 32.12px;
    position: absolute;
    width: 75px;
    height: 31px;
    left: 456px;
    top: 364px;
}

.desejos {
    font-family: 'benne';
    font-size: 32.12px;
    position: absolute;
    width: 155px;
    height: 31px;
    left: 898px;
    top: 364px;
}

.contato {
    font-family: 'benne';
    font-size: 32.12px;
    position: absolute;
    width: 155px;
    height: 31px;
    left: 1070px;
    top: 364px;
}

.login {
    font-family: 'benne';
    font-size: 32.12px;
    position: absolute;
    width: 155px;
    height: 31px;
    left: 1253px;
    top: 364px;
}

.img-lancamento {
    position: absolute;
    width: 496px;
    height: 620px;
    left: 91px;
    top: 508px;
    background: url(colar_em_quartzo_rosa_1523_5_e17a3b595c38d3279313b37d75b004b5.png);
    border-radius: 36px;
}

.quadrado {
    position: absolute;
    width: 390.22px;
    height: 383.57px;
    left: 40.92px;
    top: 790.9px;
    background: #586F8C;
    transform: rotate(-85.28deg);
}

.titulo-lancamento {
    position: absolute;
    width: 701px;
    height: 100px;
    left: 666px;
    top: 520px;
    font-family: 'benne';
    font-style: normal;
    font-weight: 400;
    font-size: 100.256px;
    line-height: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #19365D;
}

.texto-lancamento {
    position: absolute;
    width: 660px;
    height: 376px;
    left: 689px;
    top: 660px;
    font-family: 'Benne';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.retangulo {
    position: absolute;
    width: 701px;
    height: 363px;
    left: 666px;
    top: 700px;
    background: rgba(88, 111, 140, 0.69);
    border-radius: 20px;
}

.botao-confira {
    position: absolute;
    width: 323px;
    height: 99px;
    left: 855px;
    top: 1075px;
    border-radius: 25px;
    font-family: 'benne';
}

.detalhes {
    position: absolute;
    width: 756px;
    height: 75px;
    left: 342px;
    top: 1282px;
    font-family: 'Benne';
    font-style: normal;
    font-weight: 400;
    font-size: 50.467px;
    line-height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #19365D;
}

.line {
    position: absolute;
    width: 1258px;
    height: 6px;
    left: 91px;
    top: 1400px;
    background: #586F8C;
}

.banner-mascFem {
    position: absolute;
    width: 1261px;
    height: 363px;
    left: 88px;
    top: 1460px;
}

.img-mulher {
    position: absolute;
    left: 49.88%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: url(layering-gold-jewelry-284244-1575919067109-main.jpg);
    height: 363px;
    width: 632px;
    left: 629px;
    top: 0px;
    border-radius: 0px;
}

.botao-fem {
    position: absolute;
    width: 622px;
    height: 97px;
    left: 88px;
    top: 1823px;
}

.botao-masc {
    position: absolute;
    width: 622px;
    height: 97px;
    left: 727px;
    top: 1823px;
}

.retangulos {
    position: absolute;
    width: 1258px;
    height: 92px;
    left: 91px;
    top: 2016px;
    background: #859BB7;
}

.escolha {
    position: absolute;
    width: 702px;
    height: 54px;
    left: 369px;
    top: 1998px;
    font-family: 'Benne';
    font-style: normal;
    font-weight: 400;
    font-size: 54.1192px;
    line-height: 54px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.preferida {
    position: absolute;
    width: 424px;
    height: 31px;
    left: 508px;
    top: 2098px;
    font-family: 'Benne';
    font-style: normal;
    font-weight: 400;
    font-size: 31.2215px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.quadradinho {
    position: absolute;
    width: 406.78px;
    height: 406.78px;
    left: 238.22px;
    top: 2220.1px;
    background: #C3D3E8;
}

.colar {
    position: absolute;
    width: 418.76px;
    height: 418.76px;
    left: 218px;
    top: 2200px;
}

.line2 {
    position: absolute;
    width: 570px;
    height: 6px;
    left: 150px;
    top: 2670px;
    background: #586F8C;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.glamour {
    position: absolute;
    width: 520px;
    height: 75px;
    left: 170px;
    top: 2700px;
    font-family: 'Benne';
    font-style: normal;
    font-weight: 400;
    font-size: 40.467px;
    line-height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #19365D;
}

.quadrado2 {
    position: absolute;
    width: 390.22px;
    height: 383.57px;
    left: 953px;
    top: 2480px;
    background: #586F8C;
    transform: rotate(-85.28deg);
}

.img-glamour {
    position: absolute;
    width: 468px;
    height: 642px;
    left: 829px;
    top: 2175px;
    background: url(.jpg);
    border-radius: 40px;
}

.circle1 {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 183px;
    top: 3021px;
    border-radius: 20px;
    background: #003E8F;
}

.circle2 {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 223px;
    top: 3021px;
    border-radius: 20px;
    background: #003E8F;
}

.circle3 {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 263px;
    top: 3021px;
    border-radius: 20px;
    background: #003E8F;
}

.circle4 {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 1166px;
    top: 3026px;
    border-radius: 20px;
    background: #003E8F;
}

.circle5 {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 1206px;
    top: 3026px;
    border-radius: 20px;
    background: #003E8F;
}

.circle6 {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 1246px;
    top: 3026px;
    border-radius: 20px;
    background: #003E8F;
}

.aproveite {
    position: absolute;
    width: 799px;
    height: 69px;
    left: 338px;
    top: 2960px;
    font-family: 'Benne';
    font-style: normal;
    font-weight: 400;
    font-size: 50.467px;
    line-height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #19365D;
}

.retangulo2 {
    position: absolute;
    width: 1258px;
    height: 6px;
    left: 91px;
    top: 3071px;
    background: #A8CAF9;
}

.belas {
    position: absolute;
    width: 580px;
    height: 106px;
    left: 490px;
    top: 3060px;
    font-family: 'Benne';
    font-style: normal;
    font-weight: 400;
    font-size: 37.116px;
    line-height: 37px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #19365D;
}

.retangulo3 {
    position: absolute;
    width: 1258px;
    height: 6px;
    left: 91px;
    top: 3148px;
    background: #A8CAF9;
}

.retangulo-branco {
    position: absolute;
    width: 638px;
    height: 94px;
    left: 415px;
    top: 3103px;

    background: #F8FBFF;
}

.circulo1 {
    position: absolute;
    width: 210px;
    height: 210px;
    left: 250px;
    top: 3231px;
    border-radius: 120px;
    background: #003E8F;
}

.circulo2 {
    position: absolute;
    width: 210px;
    height: 210px;
    left: 1041px;
    top: 3441px;
    border-radius: 120px;
    background: #003E8F;
}

.circulo3 {
    position: absolute;
    width: 210px;
    height: 210px;
    left: 250px;
    top: 3651px;
    border-radius: 120px;
    background: #003E8F;
}

.circulo4 {
    position: absolute;
    width: 210px;
    height: 210px;
    left: 1041px;
    top: 3861px;
    border-radius: 120px;
    background: #003E8F;
}

.retangle1 {
    position: absolute;
    width: 4px;
    height: 194px;
    left: 508px;
    top: 3239px;
    background: #A8CAF9;
}

.retangle2 {
    position: absolute;
    width: 4px;
    height: 194px;
    left: 992px;
    top: 3449px;
    background: #A8CAF9;
}

.retangle3 {
    position: absolute;
    width: 4px;
    height: 194px;
    left: 508px;
    top: 3659px;
    background: #A8CAF9;
}

.retangle4 {
    position: absolute;
    width: 4px;
    height: 194px;
    left: 992px;
    top: 3869px;
    background: #A8CAF9;
}

.text1 {
    position: absolute;
    width: 323px;
    height: 83.18px;
    left: 547px;
    top: 3264px;
    font-family: 'benne';
    font-style: normal;
    font-weight: 400;
    font-size: 28.9297px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #003E8F;
}

.text2 {
    position: absolute;
    width: 323px;
    height: 83.18px;
    left: 637px;
    top: 3470px;
    font-family: 'benne';
    font-style: normal;
    font-weight: 400;
    font-size: 28.9297px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #003E8F;
    
}

.text3 {
    position: absolute;
    width: 323px;
    height: 83.18px;
    left: 547px;
    top: 3686px;
    font-family: 'benne';
    font-style: normal;
    font-weight: 400;
    font-size: 28.9297px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #003E8F;
}

.text4 {
    position: absolute;
    width: 323px;
    height: 83.18px;
    left: 637px;
    top: 3891px;
    font-family: 'benne';
    font-style: normal;
    font-weight: 400;
    font-size: 28.9297px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #003E8F;
}

.img1 {
    position: absolute;
    width: 210px;
    height: 210px;
    left: 267px;
    top: 3231px;
    background: url(elsa-peretti-anel-open-heart-36914238_1023273_ED_M.png);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 105px;
}

.img2 {
    position: absolute;
    width: 210px;
    height: 210px;
    left: 1027px;
    top: 3441px;
    background: url(elsa-perettipendente-color-by-the-yard-com-gua-marinha-25224884_1014980_AV_1.png);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 105px;
}

.img3 {
    position: absolute;
    width: 210px;
    height: 210px;
    left: 267px;
    top: 3651px;
    background: url(tiffany-t-brincos-smile-36667168_963212_ED.png);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 105px;
}

.img4 {
    position: absolute;
    width: 210px;
    height: 210px;
    left: 1027px;
    top: 3861px;
    background: url(paloma-picasso-pulseira-arrow-loving-heart-37298182_966418_ED_M.png);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 105px;
}

.retangulo-sobre {
    position: absolute;
    width: 1258px;
    height: 107px;
    left: 91px;
    top: 4217px;
    background: #859BB7;
}

.ret1 {
    position: absolute;
    width: 431.98px;
    height: 141.18px;
    left: 538.54px;
    top: 4205.25px;
    background: #00285C;
    border-radius: 29.9238px;
}

.ret2 {
    position: absolute;
    width: 431.98px;
    height: 141.18px;
    left: 448px;
    top: 4221.36px;
    background: #235495;
    border-radius: 29.9238px;
}

.ret3 {
    position: absolute;
    width: 431.98px;
    height: 141.18px;
    left: 498.64px;
    top: 4183px;
    background: #D2DFF1;
    border-radius: 29.9238px;
}

.about-us {
    position: absolute;
    width: 285px;
    height: 54px;
    left: 566.93px;
    top: 4193px;
    font-family: 'Benne';
    font-style: normal;
    font-weight: 400;
    font-size: 54.0932px;
    line-height: 54px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #00285C;
}

.retangle5 {
    position: absolute;
    width: 657px;
    height: 409px;
    left: 111px;
    top: 4428px;
    background: #586f8cb0;
    border-radius: 20px;
}

.about-lorem {
    position: absolute;
    width: 618px;
    height: 423px;
    left: 133px;
    top: 4400px;
    font-family: 'Benne';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;    
}

.circulo5 {
    position: absolute;
    width: 445.55px;
    height: 445.55px;
    left: 835px;
    top: 4384px;
    border-radius: 250px;
    background: #235495;
}

.circulo6 {
    position: absolute;
    width: 445.55px;
    height: 445.55px;
    left: 879.55px;
    top: 4415.45px;
    border-radius: 250px;
    background: #A8CAF9;
}

.map {
    position: absolute;
    width: 436.81px;
    height: 436.81px;
    left: 855.09px;
    top: 4399.73px;
    background: url(.png);
    border-radius: 218.407px;
}

.retangle6 {
    position: absolute;
    width: 1440px;
    height: 95px;
    left: 0px;
    top: 5000px;
    background: #00285C;
}

.contact {
    position: absolute;
    width: 502px;
    height: 49px;
    left: 495px;
    top: 4990px;
    font-family: 'Benne';
    font-style: normal;
    font-weight: 400;
    font-size: 48.8718px;
    line-height: 49px;    
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    
}